#instagram{
    width: 250px;
    height: 250px;
    border-radius: 55px;
    background: linear-gradient(222deg, rgb(79,91,213), rgb(150,47,191),rgb(214,41,118),rgb(250,126,30),rgb(254,218,117));
}

#square{
    position: relative;
    top: 10%;
    left: 12%;
    width: 160px;
    height: 160px;
    border: solid 18px white;
    border-radius: 50px;;
}

#circle{
    position: relative;
    top: 18%;
    left: 20%;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: solid 15px white;
}
#fill_circle{
    position: relative;
    left: 78%;
    bottom: 53%;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: white;
    border: none;
}